<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
<h1>ユーザー一覧</h1>
サンプルユーザー：
mail:test@example.com<br>
pass:password<br>
<% @users.each do |user| %>
<p>ニックネーム <%= link_to user.nickname, user %></p>
<% end %>