<h1>ユーザー　詳細</h1>
<h3>ニックネーム</h3>
<%= @user.nickname %><br>
<h3>メールアドレス</h3>
<%= @user.email %><br>
<h3> 所有している植物　</h3>
<% @user.plants.each do |p| %>
  <li><%= link_to p.plant_name ,[@user,p]%></li>
<% end %>

